.gp-container * {
    outline: none;
}


.gp-container {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #525253;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 14px;
}

.gp-wrapper {
    padding: 10px;
}

.gp-close {
    position: absolute;
    right: 6px;
    top: 6px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.gp-close:before, .gp-close:after {
    position: absolute;
    left: 8px;
    content: ' ';
    height: 16px;
    width: 1px;
    background-color: #fff;
}

.gp-close:before {
    transform: rotate(45deg);
}

.gp-close:after {
    transform: rotate(-45deg);
}


.gradient-screen {
    margin: 5px auto 0;
    height: 50px;
    background: indianred;
}

.stops-container {
    margin: 0 auto;
    height: 40px;
    cursor: pointer;
    position: relative;
}

.stop-item {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    background: white;
    cursor: grab;
    border: 1px solid #fff;
}

.stop-item:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid gray;
    top: -9px;
    position: absolute;
    left: -2px;
}

.stop-item.active:before {
    border-bottom-color: black;
}

.gp-header {
    height: 28px;
    cursor: move;
    background: #454545;
    border-bottom: #171717 1px solid;
    line-height: 28px;
    padding: 0 20px 0 10px;
}

.gp-stop-info {
    margin: 5px auto 20px;
    display: flex;
    flex-grow: 1;
    padding: 20px 10px;
    border: #424242 1px solid;
    border-radius: 1px;
    position: relative;
    justify-content: space-around;
}

.gp-stops-title {
    position: absolute;
    left: 10px;
    top: -10px;
    padding: 0 4px;
    background: #525253;
}

.gp-color-input {
    background: none;
    padding: 0;
    height: 28px;
    margin: 0 0 -4px 4px;
    /*border: 1px solid #3C3C3C;*/
    border-radius: 0;
}

.input-item {
    position: relative;
    flex-grow: 2;
    text-align: center;
    display: flex;
    align-items: flex-end;
}

.input-item:nth-child(3), .input-item:nth-child(4) {
    flex-grow: 1;
    text-align: right;
    justify-content: flex-end;
}

.gp-location-input {
    background: #454545;
    border: 1px solid #666666;
    border-radius: 0;
    margin: 0 4px -2px 4px;
    height: 20px;
    color: white;
    font-size: 14px;
}

.gp-delete-stop {
    height: 32px;
    border: 1px solid #666666;
    border-radius: 3px;
    background: #454545;
    padding: 0 30px;
    color: white;
    margin-bottom: -4px;
    font-size: 14px;
    cursor: pointer;
}
